@using VMart.WebApp.Models.Dto
@{
    Layout = "_LayoutAdmin";
}
@model ResponseDto<List<AppUser>>
<h2>Customer</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.IsSuccess)
                {
                    int i = 0;
                    foreach (var item in Model.Result)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.name</td>
                            <td>@item.email</td>
                            <td>@item.phoneNumber</td>
                            <td>@item.address</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="34">@Model.Message</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>