@using VMart.WebApp.Models.Dto
@{
    Layout = "_LayoutAdmin";
}
@model ResponseDto<List<Products>>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Products</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-outline-primary" onclick="addEdit('0')">
            Add New
        </button>
    </div>
</div>
<div class="table-responsive fix-table">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Product</th>
                <th>Price</th>
                <th>Image</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.IsSuccess)
                {
                    if (Model.Result.Any())
                    {
                        int i = 0;
                        foreach (var item in Model.Result)
                        {
                            i++;
                                                                            <tr>
                                                                                <td>@i</td>
                                                                                <td></td>
                                                                                <td>@item.Product_Name</td>
                                                                                <td>@item.Price</td>
                                                                                <td><img src="@item.ProductImage" alt="@item.Product_Name" /></td>
                                                                                <td>@item.Description</td>
                                                                                <td>
                                                                                    <button class="btn btn-sm btn-outline-secondary" onclick="addEdit('@item.Id')">Edit</button>
                                                                    <button class="btn btn-sm btn-outline-danger" onclick="deleteConfirm('@item.Id')">Delete</button>
                                                                                </td>
                                                                            </tr>
                        }
                    }
                    else
                    {
                                                                <tr>
                                                                    <td class="text-danger" colspan="23">No Record Found!</td>
                                                                </tr>
                    }
                }
                else
                {
                                                    <tr>
                                                        <td class="text-danger" colspan="23">@Model.Message</td>
                                                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section Scripts {
            <script>
                var addEdit = (id) => {
                    $.post('/Admin/AddOrEdit', { Id: id }).done(function (res) {
                        helper.modal('Add Product', res, 'medium', function () { save(); })
                    }).fail(function (xhr) {
                        console.log(xhr.responseText);
                        helper.alert(500, 'Server Error!')
                    });
                }
                var save = (id) =>{
                    if (!helper.validate())
                    {
                        helper.alert(500, 'Validation error occurred!');
                        return false;
                    }
                    var formData = new FormData();
        formData.append('Id', id);
        formData.append('CategoryId', $('#category').val());
        formData.append('Product_Name', $('#product').val());
        formData.append('Price', $('#price').val());
        formData.append('ProductImage', $('#image').prop('files')[0]);
        formData.append('Description', $('#description').val());

        $.ajax({
            url: '/Admin/SaveProduct',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if(response.isSuccess){
                    helper.alert(200,response.message);
                    helper.close();
                }
                else{
                    helper.alert(500,response.message);
                }
            },
            error: function(xhr, status, error) {
                // helper.alert(500,'Failed to update product:'+error);
            }
        });

                }
                var deleteConfirm = (id)=>{
                    helper.confirm('Are you sure want to delete it?', function(){
                        deleteProduct(id);
                    });
                }
                var deleteProduct = (id) => {
                    helper.alert(200, 'Product Deleted Successfully!');
                }
            </script>
}
